header {
	text-align: center;
}

fieldset
	{
		background-color: #25FDE9 ; 
		box-shadow: 6px 6px 6px black;
	}

h2
	{
		font-style: italic;
	}

th
	{
		font-style: italic;
		text-decoration: underline red;

	}

#resulte
	{
		text-decoration:  red;
	}

form
	{
		width: auto;
		border: 1px solid black;
		text-align: justify;
		padding: 12px;
		margin: 50px;
		border-radius: 9px;/*<= mais un bordure arondie au formulaire*/
		/*color: ; <= peux chnager la couleur du formulaire en lui même. */

	}

table
	{
		width: auto;
		border: 1px solid black;
		text-align: justify;
		padding: 12px;
		margin: 50px;
		border-radius: 9px;
	} 

#conteneurRecherche
	{
		display: flex;
		flex-wrap: nowrap;
	}

#infoAjout
	{
		width: auto;
		border: 1px solid black;
		text-align: justify;
		padding: 12px;
		margin: 50px;
		border-radius: 9px;
	}

.bouton {
	border-radius: 5px;
	border: 1px lime solid;
	background-color: #7CFC00;
	margin-bottom: 5px;
	padding: 3px 8px;
}

.bouton:hover {
	background-color: #fb9902;
}

.text {
	border-radius: 3px;
	border: 1px;
}

.text:hover {
	background-color: #F5F5F5;
}

#commentPlace {
	width: 1250px;
	height: 110px;
	border: 1px solid black;
	text-align: justify;
	padding: 12px;
	margin: 50px;
	border-radius: 9px;
	overflow: auto;
	overflow-wrap: 
}
