header /* mais le titre au milieu de la page */
	{
		text-align: center;
	}

fieldset /*change la couleur des tableau */
	{
		background-color: #5D9B9B; 
		box-shadow: 6px 6px 6px black;
	}

h2 /* Change le titre h2 en italic et l'affiche comme une étiquette */
	{
		border: 1px black solid;
	    margin: auto;
	    padding: auto;
	    background-color: white;
		font-style: italic;
	}

th /*change en italic et souligne en rouge la partie du tableau dans la recherche de console*/
	{
		font-style: italic;
		/*text-decoration: underline red;*/
		font-size: 1.2em;
	}

#result, #resultDeux /*affiche les messages en noir */
	{
		text-decoration:  black;
	}

form /*change le disigne du formulaire*/
	{
		width: auto;
		border: 1px solid black;
		text-align: justify;
		padding: 12px;
		margin: 50px;
		border-radius: 9px;/*<= mais un bordure arondie au formulaire*/
		/*color: ; <= peux chnager la couleur du formulaire en lui même. */

	}

table
	{
		width: auto;
		border: 1px solid black;
		text-align: justify;
		padding: 12px;
		margin: 50px;
		border-radius: 9px;
	} 

#erreurDate, #erreurdateDeux /*change la couleur du message d'erreur*/
{
    color: red;
}

#conteneurRecherche, #conteneurAjout, #conteneurRechercheDeux
   {
		display: flex;
        flex-wrap: wrap;
	}


#infoAjout /* ajoute un tableau dans la partie ajout d'une console */
	{
		width: auto;
		border: 1px solid black;
		text-align: justify;
		padding: 12px;
		margin: 50px;
		border-radius: 9px;
	}

.bouton /*change le couleur et le disigne des bouton en lui même */
	{
		border-radius: 5px;
		border: 1px black solid;
		background-color:#5D9B9B ;
		margin-bottom: 5px;
		padding: 3px 8px;
	}

.bouton:hover /*change la couleur des bouton au survole */
	{
		background-color: #fb9902;
	}

.text /*change le disigne des zone à completer */
	{
		border-radius: 3px;
		border: 1px;
	}

.text:hover /* change le couleur des zone à completer */
	{
		background-color: #F5F5F5;
	}

#commentPlace /* fais un texte déroulant pour les commentaire afficher */
	{
		width: 1250px;
		height: 100px;
		border: 1px solid black;
		text-align: justify;
		padding: 12px;
		margin: 50px;
		border-radius: 9px;
		overflow: auto;
		padding-top: 0px;
		
	}
#submitComment
	{
		width: 500px;
		height: 40px;
		
	}
